/* reset do css padrão */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap');

* {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  text-decoration: none;
  list-style: none;
}

header {
  width: 70%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff159;
}
header a {
  color: #3483fa;
  font-size: 20px;
  font-weight: 600;
}

.header-cart {
  width: 30%;
  background-color: rgb(58, 58, 58);
  position: absolute;
  right: 0;
  top: 0;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 18px;
  color: white;
  font-weight: 600;
}

.total-price {
  font-size: 16px;
  margin: 0 15px;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

main {
  width: 70%;
  display: inline-block;
}
aside {
  padding: 10px;
  height: 100%;
  display: inline-block;
  width: 30%;
  position: absolute;
  right: 0;
}

.main-content {
  min-height: 900px;
  background-color: #f1f1ee;
}

.container {
  background-color: #f1f1ee;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-item {
  margin-top: 10px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  flex-basis: 200px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.product-item:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: scale(1.025);
transition: 200ms ease-in-out;
}
.product-item div {
  box-sizing: border-box;
  padding: 5px;
  width: 90%;
  position: absolute;
  top: 0;
}
.product-text {
  font-size: 12px;
  padding: 5px;
}
.product-price {
  font-weight: 500;
}

.product-img {
  height: 80px;
  border-radius: 50%;
  width: 80px;
  display: block;
  margin: 0 auto;
}
.addToCart {
  width: 100%;
  height: 30px;
  background-color: #3483fa;
  border-radius: 0 0 10px 10px;
  margin-top: 5px;
  font-weight: 600;
  color: white;
}
.addToCart:hover {
  cursor: pointer;
  opacity: 0.7;
}
#search {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
}
.Cart-itens {
  background-color: #f1f1ee;
}

.cart-item {
  border-radius: 10px;
  background-color: white;
  position: relative;
  width: 200px;
  margin: 2px auto 20px auto;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.cart-item:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: scale(1.025);
  transition: 200ms ease-in-out;
}
.cart-item div {
  position: absolute;
  top: 5px;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  text-align: center;
}
.cart-item-img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 5px;
}
.cart-item-text {
  width: 200px;
}
.remove-item {
  background-color: red;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  width: 100%;
  border-radius: 0 0 10px 10px;
  color: white;
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
}

.cart-item-text {
  font-weight: 500;
}
.remove-item:hover {
  cursor: pointer;
  opacity: 0.7;
}

footer {
  text-align: center;
  line-height: 60px;
  height: 60px;
  background-color: #fff159;
}

.empty-cart:hover {
  cursor: pointer;
  opacity: 0.7;
}

.load{
  margin-top: 25%;
  animation: is-rotating 1s infinite;
  width: 50px;
  height: 50px;
  border: 6px solid #e5e5e5;
  border-top: solid 6px blue;
  border-radius: 50%;
  
}

.load2{
  animation: is-rotating 1s infinite;
  width: 40px;
  height: 40px;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  border-bottom: solid 6px red;

}
@keyframes is-rotating{
  to {
      transform: rotate(1turn);
  }
}

@media (max-width: 430px)
{
  header a{
    font-size: 15px;
  }
  #search{
    width: 140px;
    font-size: 10px;
    height: 25px;
  }
  header{
    width: 60%;
  }
  .header-cart{
    width: 40%;
    font-size: 12px;
  }
  .total-price{
    font-size: 12px;
    margin: 0 5px;
  }
  main{
    width: 60%;
  }
  aside{
    width: 40%;
  }
  .product-item{
   flex-basis: 150px;
  }
  .product-item img {
    width: 80px;
    height: 80px;
  }
  .product-text{font-size: 12px;}
  .product-price{font-size: 12px;}
  
  .cart-item{
    height: 220px;
    width: 150px;
  }
  .cart-item-img{
    width: 80px;
    height: 80px;
  }
  .cart-item-text{
    width: 100px;
    font-size: 12px;
  }
  .remove-item{
    font-size: 13px;
  }
}

@media (min-width: 430px)and (max-width: 680px) {

  header a{
    font-size: 18px;
  }
  #search{
    width: 140px;
    font-size: 12px;
    height: 30px;
  }
  header{
    width: 60%;
  }
  .header-cart{
    width: 40%;
    font-size: 13px;
  }
  .total-price{
    font-size: 13px;
    margin: 0 5px;
  }
  main{
    width: 60%;
  }
  aside{
    width: 40%;
  }
  .product-item{
   flex-basis: 150px;
  }
  .product-item div {
    width: 100%;
    padding: 5px 2px 2px 2px;
  }
  .product-item img {
    width: 80px;
    height: 80px;
  }
  .product-text{font-size: 12px;
  width: 100%;
  padding: 0px;}
  .product-price{font-size: 12px;}
  
  .cart-item{
    height: 220px;
    width: 150px;
  }
  .cart-item-img{
    width: 80px;
    height: 80px;
  }
  .cart-item-text{
    width: 100px;
    font-size: 12px;
  }
  .remove-item{
    font-size: 13px;
  }
}

@media (max-width: 400px){

  header a{
    font-size: 14px;
  }
  #search{
    width: 100px;
    font-size: 12px;
    height: 30px;
  }
  header{
    width: 60%;
  }
  .header-cart{
    width: 40%;
    font-size: 10px;
  }
  .addToCart{
    font-size: 12px;
  }
  .total-price{
    font-size: 10px;
    margin: 0 5px;
  }
  main{
    width: 60%;
  }
  aside{
    width: 40%;
  }
  .product-item{
   flex-basis: 120px;
  }
  .product-item div {
    width: 100%;
    padding: 5px 2px 2px 2px;
  }
  .product-item img {
    width: 60px;
    height: 60px;
  }
  .product-text{font-size: 12px;
  width: 100%;
  padding: 0px;}
  .product-price{font-size: 12px;}
  
  .cart-item{
    height: 220px;
    width: 120px;
  }
  .cart-item-img{
    width: 60px;
    height: 60px;
  }
  .cart-item-text{
    width: 100px;
    font-size: 12px;
  }
  .cart-item-price{
    font-size: 12px;
  }
  .remove-item{
    font-size: 12px;
  }
}